<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain MRI Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">

</head>
<body>
<div class="header">
  <div class="logo">
       <a href="{{ url_for('main') }}" style="color: inherit; text-decoration: none;">HealthCheck</a>
  </div>
  <nav>
    <ul class="nav">
      <li><a href="#" class="active">My Profile</a></li>
      <li><a href="{{ url_for('test_selection') }}">Test</a></li>
      <li><a href="#">Clinics</a></li>
    </ul>
  </nav>
  <a href="{{ url_for('logout') }}" class="logout">Log Out</a>
</div>
<div class="upload-container">
  <h1>Upload your Brain MRI</h1>
  <form action="/brain_mri" method="POST" enctype="multipart/form-data" class="upload-form">
    <input type="file" name="mri_image" accept="image/jpeg">
    <div class="submit-button">
        <input type="submit" class="submit" value="Submit">
    </div>
  </form>
</div>
<div class="message-container">
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
</div>
<div class="neuro-list">
    {% if neuros %}
        <h2>Recommended Neurosurgeon:</h2>
        <table class="centered-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Clinic</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in neuros %}
                    <tr>
                        <td>{{ doctor[0] }}</td>
                        <td>{{ doctor[1] }}</td>
                        <td>{{ doctor[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
