<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Diagnostics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">

</head>
<body>

<div class="header">
  <div class="logo">
       <a href="{{ url_for('main') }}" style="color: inherit; text-decoration: none;">HealthCheck</a>
  </div>
  <nav>
    <ul class="nav">
      <li><a href="#" class="active">My Profile</a></li>
      <li><a href="{{ url_for('test_selection') }}">Test</a></li>
      <li><a href="#">Clinics</a></li>
    </ul>
  </nav>
  <a href="{{ url_for('logout') }}" class="logout">Log Out</a>
</div>

    <h1>Diabetes Diagnostics</h1>

<div class="wrapper">
    <div class="container">
        <h2 class="form-title">Enter your blood test result</h2>
        <form method="post" action="/diabetes" class="diabetes-form">
        <!-- Input fields for the diabetes diagnostic test -->
            <div class="form-group">
                <label for="cholesterol">Cholesterol:</label>
                <input type="number" id="cholesterol" name="cholesterol" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="stabglu">Stabilized Glucose:</label>
                <input type="number" id="stabglu" name="stabglu" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="hdl">High-Density Lipoprotein:</label>
                <input type="number" id="hdl" name="hdl" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="ratio">Ratio:</label>
                <input type="number" id="ratio" name="ratio" step="0.1" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="bp1s">Blood Pressure first systolic reading:</label>
                <input type="number" id="bp1s" name="bp1s" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="bp1d">Blood Pressure first diastolic reading:</label>
                <input type="number" id="bp1d" name="bp1d" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="hip">Hip:</label>
                <input type="number" id="hip" name="hip" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="timeppn">Partial Prothrombin Time:</label>
                <input type="number" id="timeppn" name="timeppn" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                    <select name="gender" id="gender" class="form-control">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select><br>
            </div>
            <div class="form-group">
                <label for="frame">Frame:</label>
                    <select name="frame" id="frame" class="form-control">
                        <option value="large">Large</option>
                        <option value="medium">Medium</option>
                        <option value="medium">small</option>
                    </select><br>
            </div>
            <div class="form-group">
                <label for="height">Height:</label>
                <input type="number" id="height" name="height" step="0.01" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="weight">Weight:</label>
                <input type="number" id="weight" name="weight" class="form-control"><br>
            </div>

        <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary btn-lg btn-block" value="Sumbit">
            </div>
        </form>
    </div>
</div>


<div class="message-container">
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
</div>
<div class="endo-list">
    {% if endocrinologists %}
        <h2>Recommended Endocrinologists:</h2>
        <table class="centered-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Clinic</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in endocrinologists %}
                    <tr>
                        <td>{{ doctor[0] }}</td>
                        <td>{{ doctor[1] }}</td>
                        <td>{{ doctor[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
